/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body,
p,
a,
ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* ***************** */

/* #Algemene properties */

:root {
  /* BackgroundColors */
  --backgroundHeaderBottom: #faf8ef;
  --backgroundColorlightblue: #e1ecf4;
  --backgroundInfo: #ffffff;
  --backgroundNav: #fbf9f2;
  --backgroundNavSpan: #282931;

  --backgroundPresentatie: #f9fafb;

  /* TextColors */
  --textColor: #282931;
  --textColorOverig: #494a51;
  --textColorDatumNieuws: #a1a1a3;
  --textColorAuteur: rgba(0, 0, 0, 84);
  --textColorZoeken: #404040;

  --textColorOntdekH1: #ffffff;
  --textColorTitelPresentatie: #e70518;

  /* BorderColors */
  --borderColorHeaderBottom: #494a51;
  --borderColorInfo: #282931;
  --borderInput: #c3c3c3;

  /* Fonts */
  --fontNameBold: FranklinGothic-Bold;
  --fontNameBook: FranklinGothic-Book;
  --fontNameMedium: FranklinGothic-Medium;

  /* States */
  --hoverBorder: underline;
  --hoverbackgroundColor: #282931;
}

/* ***************** */

/* #Fonts */

@font-face {
  font-family: "var(--fontNameBook)";
  src: url("../fonts/ITCFranklinGothicStd-Book.woff2") format("woff2"),
    url("../fonts/ITCFranklinGothicStd-Book.woff") format("woff");
}

@font-face {
  font-family: "var(--fontNameBold)";
  src: url("../fonts/ITCFranklinGothicStd-DmCp.woff2") format("woff2"),
    url("../fonts/ITCFranklinGothicStd-DmCp.woff") format("woff");
}

@font-face {
  font-family: "var(--fontNameMedium)";
  src: url("../fonts/ITCFranklinGothicStd-Med.woff2") format("woff2"),
    url("../fonts/ITCFranklinGothicStd-Med.woff") format("woff");
}

/* ***************** */

/**************/
/* #Basis */
/**************/

h2 {
  font-family: "var(--fontNameBold)";
  color: var(--textColor);
  margin: 0;
  font-size: 2em;
  line-height: 2.5rem;
}

h2:hover {
  text-decoration: var(--hoverBorder);
  cursor: pointer;
}

h3 {
  font-family: "var(--fontNameBold)";
  color: var(--textColor);
  margin: 0;
}

h4 {
  font-family: "var(--fontNameBook)";
  color: var(--textColorTitelPresentatie);
  font-size: 1.1em;
}

a {
  font-family: "var(--fontNameMedium)";
  text-align: center;
}

a:focus {
  outline: none;
  background-color: #e70518;
}

a:active {
  background: none;
}

a:visited {
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: column;
}

.knop {
  font-size: 1.0625em;
  width: 135px;
  height: 55px;
  border: 0.0625rem solid var(--borderColorInfo);
  padding: 17px;
  color: var(--textColor);
  letter-spacing: 0.05em;
}

.knop:hover,
#knopwit:hover {
  background: var(--hoverbackgroundColor);
  color: #ffffff;
  border: none;
}

#knopwit {
  font-size: 1.2em;
  width: auto;
  height: 55px;
  border: 0.0625rem solid var(--backgroundInfo);
  padding: 17px;
  color: var(--backgroundInfo);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  align-self: flex-end;
  margin: 2.125em auto;
}

/* ***************** */

/***********/
/* #Header */
/***********/

header {
  position: relative;
  display: grid;
}

.headerbottom img {
  width: 11em;
  height: auto;
  position: absolute;
  top: -20em;
  left: 0;
}

@media screen and (min-width: 992px) {
  header {
    grid-template-columns: 23em 1fr;
  }
}

@media (max-width: 30em) {
  .headerbottom img {
    margin-left: -84px;
    width: 11em;
  }
}

@media (min-width: 30em) and (max-width: 61.9375em) {
  .headerbottom img {
    margin-left: -117px;
    width: 253px;
  }
}

@media screen and (min-width: 1200px) {
  #headerhome {
    height: 20em;
    margin-bottom: 23em;
  }
}

button {
  position: fixed;
  appearance: none;
  background: none;
  right: 25px;
  top: 25px;
  height: 50px;
  width: 50px;
  background-color: var(--backgroundNav);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  z-index: 500;
}

button span {
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: var(--backgroundNavSpan);
  transform-origin: 1px 1px;
  transition: 0.5s;
}

button span:nth-of-type(1) {
  transform: translatey(-0.5em);
}

button span:nth-of-type(3) {
  transform: translatey(0.5em);
}

button span:nth-of-type(1).toonMenu {
  transform: rotate(-45deg) scalex(0.5);
}

button span:nth-of-type(3).toonMenu {
  transform: rotate(45deg) scalex(0.5);
}

.nav {
  margin: 0;
  padding: 0;
  background: var(--backgroundInfo);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.25em;
  width: 100%;
  height: 100%;

  z-index: 100;

  transition: 0.3s;
  overflow-y: scroll;

  transform: translatex(-100%);
}

.nav.toonMenu {
  transform: translatex(0%);
}

.nav section:nth-of-type(1) {
  background-color: var(--backgroundNav);
  height: 200px;
  margin-bottom: 55px;
}

.nav img {
  position: absolute;
  padding-left: 35px;
  margin-top: 25px;
  gap: 0.25em;
}

.nav section:nth-of-type(2) {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input:nth-child(1) {
  padding-left: 20px;
  border-radius: 20px;
  height: 35px;
  font-size: 0.9375em;
  font-style: italic;
  font-family: "var(--fontNameBook)";
  color: var(--textColorZoeken);
  border: 1px solid var(--borderColorHeaderBottom);
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
}

.nav section:nth-of-type(2) a {
  font-family: "var(--fontNameMedium)";
  font-size: 1.125em;
  color: var(--textColorOverig);
  text-transform: uppercase;
  align-self: flex-start;
}

.nav section:nth-of-type(3) {
  padding-bottom: 5em;
}

.nav ul {
  padding-left: 35px;
  margin-bottom: 3em;
}

.nav li {
  margin: 0;
  padding: 0;
  font-size: 1em;
  margin-bottom: 10px;
}

.nav li a {
  color: var(--textColorOverig);
  font-family: "var(--fontNameBook)";
  font-size: 1.125rem;
}

.nav li:first-of-type {
  margin-bottom: 15px;
}

.nav li:first-of-type a {
  font-family: "var(--fontNameBold)";
  font-size: 1.75em;
  color: var(--textColor);
}

.headertop {
  background-image: url(../images/CentraalMuseum.jpeg);
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 25em;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav ul:nth-of-type(2) {
    grid-column-start: 2;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav section:nth-of-type(2) {
    padding-left: 45px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 992px) {
  .headertop {
    grid-column-start: 2;
  }
}

@media screen and (min-width: 1200px) {
  .headertop {
    height: 40em;
  }

  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }

  .nav section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav section:nth-of-type(1) {
    grid-row: 1/3;
    height: auto;
    margin-bottom: 0px;
  }

  .nav section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    grid-column: 3/5;
  }

  .nav section:nth-of-type(3) {
    grid-column: 2/5;
    display: flex;
    gap: 2em;
  }
}

.headerbottom {
  background-color: var(--backgroundHeaderBottom);
  width: 100%;
  position: relative;
}

.headerbottom nav:last-of-type {
  padding: 54px;
}

.headerbottom a {
  color: var(--textColorOverig);
  font-size: 1.2em;
  border-bottom: 1px solid var(--borderColorHeaderBottom);
  font-family: "var(--fontNameBook)";
}

.headerbottom ul li {
  margin-bottom: 18px;
}

.headerbottom ul li::before {
  content: "\f105";
  font-size: 1em;
  position: relative;
  color: var(--textColorOverig);
  right: 10px;
  font-family: "FontAwesome";
}

@media screen and (min-width: 768px) {
  .headerbottom nav:last-of-type ul {
    display: flex;
  }

  .headerbottom nav:last-of-type ul li {
    display: inline-block;
    margin-right: 40px;
  }
}

/* Grote tablets en laptops */
@media screen and (min-width: 992px) {
  .headerbottom img {
    content: url("../images/logo-footer.svg");
    width: 340px !important;
    top: 0;
    left: 9em;
    margin-top: 3.8em;
  }

  .headerbottom {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 23em;
  }

  .headerbottom a {
    font-size: 1.25em;
  }

  .headerbottom nav:last-of-type {
    position: absolute;
    bottom: -1em;
    left: 1em;
  }

  .headerbottom nav:last-of-type ul {
    display: flex;
    flex-direction: column;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .headerbottom img {
    width: 28em !important;
    left: 4em;
  }
}

/* ***************** */

/***********/
/*  #main home  */
/***********/

main section {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

main section img {
  max-width: 100%;
  align-self: center;
  margin-bottom: 0.01em;
}

time {
  font-family: "var(--fontNameMedium)";
  font-size: 0.9375em;
  letter-spacing: 0.05em;
  color: var(--textColor);
  margin-top: 1.125em;
  text-transform: uppercase;
}

.leestekst {
  text-transform: none;
  letter-spacing: 0em;
  line-height: 1.875em;
  margin-top: 0px;
  margin-bottom: 0.625em;
  font-family: "var(--fontNameBook)";
  font-size: 1.125em;
  color: var(--textColor);
}

.collectie {
  gap: 0.625rem;
  display: grid;
  grid-gap: 2em;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.collectie section {
  display: grid;
}

.collectie article:first-of-type {
  gap: 0.625rem;
}

.collectie article:first-of-type img,
.collectie article:last-of-type img {
  order: -2;
}

.collectie time {
  order: -1;
}

.collectie article h2 {
  order: 0;
}

.collectie section:last-of-type {
  background-color: var(--backgroundColorlightblue);
  gap: 0.625rem;
}

@media screen and (min-width: 768px) {
  .collectie {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
    padding-top: 70px;
    gap: 0;
  }

  .collectie section {
    padding-left: 25px;
    padding-right: 25px;
  }

  .collectie section:first-of-type {
    padding-top: 0px;
  }
  .collectie section:first-of-type p:last-of-type {
    font-size: 1.23em;
  }

  .collectie section:last-of-type h2 {
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .collectie section:last-of-type {
    margin-right: 15px;
  }
}

@media screen and (min-width: 992px) {
  .collectie {
    grid-template-columns: 1fr;
  }

  .collectie section {
    gap: 0em !important;
    grid-template-columns: 1fr 1fr;
    padding: 75px;
  }

  .collectie section:last-of-type h2 {
    margin-bottom: 0.2em;
  }

  .collectie img:first-of-type {
    grid-column-start: 1;
  }

  .collectie section:last-of-type img {
    grid-column-start: 2;
  }

  .collectie article {
    padding: 75px;
  }

  .collectie section:first-of-type article {
    grid-column-start: 2;
  }

  .collectie section:last-of-type article {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .collectie a {
    grid-column-start: 2;
  }

  .collectie h2 {
    font-size: 4.375em;
    line-height: 4.0625rem;
  }
}

.collectieonline {
  background-color: var(--backgroundNav);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
}

.collectieonline h2 {
  text-align: center;
  order: 0;
}

.collectieonline p {
  letter-spacing: 0.03em;
  font-size: 1em;
  padding-top: 3.5625em;
  padding-bottom: 0.825em;
  order: -1;
  font-family: "var(--fontNameMedium)", sans-serif;
  text-transform: uppercase;
}

.collectieonline section {
  width: 66%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slides > li {
  flex-shrink: 0;
  max-width: 200px;
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

@media screen and (min-width: 992px) {
  .collectieonline h2 {
    font-size: 5rem;
    margin-top: 0.2em;
  }

  .collectieonline img {
    margin-top: 8em;
    margin-bottom: 8em;
  }
}

.aanbevolen {
  display: flex;
  gap: 0.625rem;
}

.aanbevolen h3 {
  order: 1;
  font-size: 2.8125em;
}

.aanbevolen h2 {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
  order: -2;
  font-size: 2.8125rem;
}

.aanbevolen p:first-of-type {
  order: 0;
}

.aanbevolen p:last-of-type {
  order: 2;
}

.aanbevolen img {
  order: -1;
}

.aanbevolen a {
  order: 3;
}

@media screen and (min-width: 768px) {
  .aanbevolen {
    align-items: center;
  }

  .aanbevolen img {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .aanbevolen h2 {
    font-size: 5rem;
    margin-top: 1em;
  }

  .aanbevolen img {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .aanbevolen img {
    width: 20%;
  }
}

.info {
  max-width: 100%;
  height: 333px;
  background-color: var(--backgroundColorlightblue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.info h2 {
  text-align: center;
  margin-bottom: 16px;
  text-decoration: none;
  cursor: none;
}

.info a {
  text-align: left;
  font-size: 1em;
  margin-top: 0.75rem;
  font-family: "var(--fontNameBook)";
  color: var(--textColorOverig);
  text-decoration: underline;
}

.info input {
  border: 1px solid var(--borderInput);
  padding: 16px;
  font-family: "var(--fontNameBook), sans-serif;";
  font-size: 1em;
  letter-spacing: 0.05em;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .info input {
    width: 50%;
  }
}

#abonneren {
  border: 1px solid var(--borderColorInfo);
  color: var(--textColor);
  background-color: var(--backgroundInfo);
  font-size: 1.0625em;
  font-family: "var(--fontNameMedium)";
}

.nieuwsenblogs {
  text-align: left;
  display: grid;
  grid-gap: 2em;
}

.nieuwsenblogs h2 {
  font-size: 2.8125em;
  text-align: center;
  margin-top: 0.6em;
}

.nieuwsenblogs article {
  margin-bottom: 4.6875rem;
}

.nieuwsenblogs article h3 a {
  margin-top: 10px;
  font-family: "var(--fontNameBold)";
  color: var(--textColor);
  font-size: 2em;
  text-align: left;
  line-height: 2.5rem;
}

.nieuwsenblogs time {
  order: -1;
}

.nieuwsenblogs article img {
  margin-bottom: 0.5em;
  order: -2;
}

.nieuwsenblogs time {
  color: var(--textColorDatumNieuws);
}

.nieuwsenblogs article p:last-of-type {
  margin-top: 0.625rem;
}

.nieuwsenblogs article:last-of-type a img:last-of-type {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 3.125rem;
  height: 3.125rem;
  border: 0;
}

.nieuwsenblogs article:last-of-type a:nth-child(5) {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 1em;
  font-family: "var(--fontNameBook)";
  color: var(--textColorAuteur);
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .nieuwsenblogs {
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: 1fr 1fr;
  }

  .nieuwsenblogs h2 {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .nieuwsenblogs article {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  .nieuwsenblogs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .nieuwsenblogs article h3 a {
    font-family: "var(--fontNameMedium)";
    font-size: 1.25rem;
    line-height: 1.5625rem;
    color: var(--textColorOverig);
  }

  .nieuwsenblogs article h3 {
    margin-bottom: 0.625em;
  }

  .nieuwsenblogs h2 {
    text-align: left;
    grid-column-start: 4;
    grid-row-start: 1;
  }

  .nieuwsenblogs p:last-of-type {
    display: none;
  }
}

.meer {
  align-items: center;
  padding: 0;
  position: relative;
  max-width: 100%;
  top: -2em;
}

.meer a {
  width: 170px;
  margin-bottom: 50px;
}

.meer section:nth-child(2) {
  justify-content: center;
}

.meer ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.meer li {
  width: 50px;
  height: 50px;
  padding: 11px 14px;
  border-radius: 50%;
  border: 1px solid var(--borderColorInfo);
  margin: 5px;
}

.meer li img {
  width: 20px;
  height: 27px;
}

@media screen and (min-width: 992px) {
  .meer section {
    display: none;
  }
}

/* ***************** */

/**********************/

/****/
/* #header ontdek */
/****/

#headerontdek {
  display: block;
}

.welkom {
  background-image: url(../images/ontdek-header.jpeg);
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: top center;
  transform: translate3d(0px, 0px, 0px);
  display: block;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

h1 {
  color: var(--textColorOntdekH1);
  font-family: "var(--fontNameBold)";
  font-size: 3.125rem;
  max-width: 100%;
  margin-bottom: 0px;
  line-height: 53px;
  padding-bottom: 1.25rem;
  width: 100%;
  text-align: center;
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
}

.welkom img {
  margin-left: -84px;
  width: 189px;
  top: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .welkom {
    height: 90vh;
  }

  .welkom img {
    top: 35px;
  }

  h1 {
    font-size: 4.0625rem;
    width: 40.625rem;
    line-height: 70px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 76px;
    max-width: 100%;
  }

  .welkom img {
    top: 38px;
    margin-left: -138px;
    width: inherit;
  }
}

/****/
/* #main ontdek  */
/****/

.presentatie {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--backgroundPresentatie);
  margin: 0 0 3em;
}

.presentatie h4 {
  font-size: 1.1em;
  text-align: center;
  max-width: 90%;
}

.presentatie p {
  max-width: 90%;
  text-align: center;
  font-size: 1.3em;
  line-height: 36px;
  font-family: "var(--fontnameBook)";
}

@media screen and (max-width: 768px) {
  .presentatie {
    height: 100vh;
    min-height: auto;
    padding: 1em;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 992px) {
  .presentatie h4 {
    font-size: 1.1875rem;
  }

  .presentatie p {
    font-size: 1.875em;
    line-height: 47px;
  }
}

@media screen and (min-width: 1200px) {
  .presentatie h4 {
    font-size: 1.4375rem;
  }

  .presentatie p {
    font-size: 2.3125rem;
    line-height: 3.625rem;
  }
}

/****/

/*****************/
/* #Footer */
/*****************/

/* ***************** */

footer {
  background-color: var(--backgroundNav);
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

/*********************/
/* Logo footer */
/*********************/

#logofooter {
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 1.25rem;
}

/* *********** */

/**********************************/
/* Contact & Openingstijden */
/**********************************/
footer section:nth-of-type(-n + 2) ul:nth-of-type(-n + 2) li:first-child {
  font-family: "var(--fontNameMedium)";
  font-size: 0.9375em;
  letter-spacing: 0.05em;
  color: var(--textColor);
  margin-top: 28px;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
}

footer section:nth-of-type(-n + 2) li,
footer section:nth-of-type(-n + 2) a,
footer section:nth-of-type(-n + 2) time {
  color: var(--textColorOverig);
  font-size: 1.125rem;
  font-family: "var(--fontNameBook)";
  line-height: 1.75rem;
  text-transform: none;
}

footer section:nth-child(2) li:last-of-type {
  margin-bottom: 0.9375rem;
}

footer section:nth-of-type(-n + 2) a {
  color: var(--textColorOverig);
  border-bottom: 1px solid var(--borderColorHeaderBottom);
}

footer section:nth-of-type(2) {
  padding-top: 0.5em;
}

/* *********** */

/****************************/
/* Social Media Icons */
/****************************/

footer section:nth-of-type(3) ul {
  display: flex;
  flex-direction: row;
  gap: 1.3125rem;
  margin-bottom: 2em;
  margin-top: 20px;
}

footer section:nth-of-type(3) ul li img {
  width: 1.5rem;
  height: 1.5rem;
}

/* *********** */

/************************/
/* Partner logo's */
/************************/

footer section:nth-of-type(4) ul {
  display: grid;
  grid-template-columns: 1fr 16em;
}

footer section:nth-of-type(4) ul {
  padding-right: 30px;
}

footer section:nth-of-type(4) ul li:nth-child(-n + 2) {
  grid-column-start: 1;
}

footer section:nth-of-type(4) ul li:nth-child(3) {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
}

footer section:nth-of-type(4) ul li img {
  max-width: 8.125em;
  opacity: 0.65;
}

/* ***************** */

/* Tablet */
@media screen and (min-width: 768px) {
  footer {
    padding-left: 50px;
    padding-right: 30px;
    grid-template-columns: 32em 1fr;
  }

  footer img:nth-of-type(1) {
    width: 20em;
  }

  footer section:nth-of-type(2) {
    padding-top: 0;
    padding-bottom: 0;
  }

  footer section:nth-of-type(2) ul {
    padding-right: 7em;
  }

  footer section:nth-child(2) li:last-of-type {
    margin-bottom: 0;
  }
}

/* Grote tablets en laptops */
@media screen and (min-width: 992px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
  }

  footer section:nth-of-type(1) {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  footer section:nth-of-type(2) {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  footer section:nth-of-type(3) {
    grid-column-start: -3;
    grid-row-start: 1;
    align-self: flex-end;
  }

  footer section:nth-of-type(3) ul {
    margin-top: 2.5em;
    margin-bottom: -10px;
  }

  footer section:nth-of-type(4) {
    grid-column-start: -3;
    grid-row-start: 2;
  }
}

/* Desktop */
@media screen and (min-width: 75em) {
}
