/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body,
p,
a,
ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* ***************** */

/* Algemene properties */

:root {
  /* BackgroundColors */
  --backgroundHeaderBottom: #faf8ef;
  --backgroundColorlightblue: #e1ecf4;
  --backgroundInfo: #ffffff;
  --backgroundNav: #fbf9f2;
  --backgroundNavSpan: #282931;

  /* TextColors */
  --textColor: #282931;
  --textColorOverig: #494a51;
  --textColorDatumNieuws: #a1a1a3;
  --textColorAuteur: rgba(0, 0, 0, 0, 84);

  /* BorderColors */
  --borderColorHeaderBottom: #494a51;
  --borderColorInfo: #282931;
  --borderInput: #c3c3c3;

  /* Fonts */
  --fontNameBold: FranklinGothic-Bold;
  --fontNameBook: FranklinGothic-Book;
  --fontNameMedium: FranklinGothic-Medium;
}

/* ***************** */

/* Fonts */

@font-face {
  font-family: "var(--fontNameBook)";
  src: url("../fonts/ITCFranklinGothicStd-Book.woff2") format("woff2"),
    url("../fonts/ITCFranklinGothicStd-Book.woff") format("woff");
}

@font-face {
  font-family: "var(--fontNameBold)";
  src: url("../fonts/ITCFranklinGothicStd-DmCp.woff2") format("woff2"),
    url("../fonts/ITCFranklinGothicStd-DmCp.woff") format("woff");
}

@font-face {
  font-family: "var(--fontNameMedium)";
  src: url("../fonts/ITCFranklinGothicStd-Med.woff2") format("woff2"),
    url("../fonts/ITCFranklinGothicStd-Med.woff") format("woff");
}

/* ***************** */

/* Basis */

h1 {
  font-family: "var(--fontNameBold)";
  color: var(--textColor);
  margin: 0;
}

h2 {
  font-family: "var(--fontNameBold)";
  color: var(--textColor);
  margin: 0;
  font-size: 2em;
  line-height: 2.5rem;
}

h3 {
  font-family: "var(--fontNameBold)";
  color: var(--textColor);
  margin: 0;
  font-size: 2.8125em;
}

a {
  font-family: "var(--fontNameMedium)";
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
}

.knop {
  font-size: 1.0625em;
  width: 135px;
  height: 55px;
  border: 0.0625rem solid var(--borderColorInfo);
  padding: 17px;
  color: var(--textColor);
  letter-spacing: 0.05em;
}

input {
  border: 1px solid var(--borderInput);
  padding: 16px;
  font-family: "var(--fontNameBook), sans-serif;";
  font-size: 1em;
  letter-spacing: 0.05em;
  height: auto;
  width: 100%;
}

#abonneren {
  border: 1px solid var(--borderColorInfo);
  color: var(--textColor);
  background-color: var(--backgroundInfo);
  font-size: 1.0625em;
  font-family: "var(--fontNameMedium)";
}

/* ***************** */

/* Mobiel */

/* ***************** */

/* Header */

header {
  position: relative;
  display: grid;
}

/* .headertop a:first-of-type {
  position: fixed;
  right: 25px;
  top: 25px;
  height: 3.125rem;
  width: 3.125rem;
  background-color: var(--backgroundNav);
  border-radius: 50%;
}  */

button {
  position: fixed;
  right: 25px;
  top: 25px;
  height: 50px;
  width: 50px;
  background-color: var(--backgroundNav);
  border-radius: 50%;
  overflow: hidden;
  border: none;
  z-index: 500;
}

button::before {
  content: url("../images/menu-to-arrow-left.svg");
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(0.85);
  margin-top: 0.1em;
}

.headertop nav.toonMenu button::before {
  content: "\274C";
}

.headertop nav:first-of-type {
  margin: 0;
  padding: 4em 0 0;
  background: var(--backgroundInfo);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  gap: 0.25em;
  width: 100%;
  height: 100%;

  z-index: 100;
  padding-left: 35px;

  transition: 0.3s;
  overflow-y: hidden;

  transform: translatex(-100%);
}

.headertop nav:first-of-type.toonMenu {
  transform: translatex(0%);
}

.headertop nav:first-of-type ul {
  margin-bottom: 3em;
}

.headertop nav:first-of-type li {
  margin: 0;
  padding: 0;
  font-size: 1em;
  margin-bottom: 10px;
}

.headertop nav:first-of-type li a {
  color: var(--textColorOverig);
  font-family: "var(--fontNameBook)";
  font-size: 1.125rem;
}

.headertop nav:first-of-type li:first-of-type {
  margin-bottom: 15px;
}

.headertop nav:first-of-type li:first-of-type a {
  font-family: "var(--fontNameBold)";
  font-size: 1.75em;
  color: var(--textColor);
}

header img {
  width: 11em;
  height: auto;
  position: absolute;
  top: -20em;
  left: 0;
}

@media (max-width: 30em) {
  header img {
    margin-left: -84px;
    width: 11em;
  }
}

@media (min-width: 30em) and (max-width: 61.9375em) {
  header img {
    margin-left: -117px;
    width: 253px;
  }
}

.headerbottom {
  position: relative;
}

.headertop {
  background-image: url(../images/CentraalMuseum.jpeg);
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 25em;
}

.headerbottom {
  background-color: var(--backgroundHeaderBottom);
  width: 100%;
}

nav:last-of-type {
  padding: 54px;
}

.headerbottom a {
  color: var(--textColorOverig);
  font-size: 1.2em;
  border-bottom: 1px solid var(--borderColorHeaderBottom);
  font-family: "var(--fontNameBook)";
}

.headerbottom ul li {
  margin-bottom: 18px;
}

.headerbottom ul li::before {
  content: "\f105";
  font-size: 1em;
  position: relative;
  color: var(--textColorOverig);
  right: 10px;
  font-family: "FontAwesome";
}

/* ***************** */

/* Tablet */
@media screen and (min-width: 768px) {
  .headerbottom nav:last-of-type ul {
    display: flex;
  }

  .headerbottom nav:last-of-type ul li {
    display: inline-block;
    margin-right: 40px;
  }
}

/* Grote tablets en laptops */
@media screen and (min-width: 992px) {
  header {
    grid-template-columns: 23em 1fr;
  }

  .headertop {
    grid-column-start: 2;
  }

  .headerbottom img {
    content: url("../images/logo-footer.svg");
    width: 340px !important;
    top: 0;
    left: 9em;
    margin-top: 3.8em;
  }

  .headerbottom {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 23em;
  }

  .headerbottom a {
    font-size: 1.25em;
  }

  header nav:last-of-type {
    position: absolute;
    bottom: -1em;
    left: 1em;
  }

  .headerbottom nav:last-of-type ul {
    display: flex;
    flex-direction: column;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  header {
    height: 20em;
    margin-bottom: 23em;
  }

  .headerbottom img {
    width: 28em !important;
    left: 4em;
  }

  .headertop {
    height: 40em;
  }
}

/* ***************** */

/* main */

/* ***************** */

/* Mobiel */

main section {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

main section img {
  max-width: 100%;
  align-self: center;
  margin-bottom: 0.01em;
}

main section p {
  font-family: "var(--fontNameMedium)";
  font-size: 0.9375em;
  letter-spacing: 0.05em;
  color: var(--textColor);
  margin-top: 1.125em;
  text-transform: uppercase;
}

.leestekst {
  text-transform: none;
  letter-spacing: 0em;
  line-height: 1.875em;
  margin-top: 0px;
  margin-bottom: 0.625em;
  font-family: "var(--fontNameBook)";
  font-size: 1.125em;
  color: var(--textColor);
}

.collectie {
  gap: 0.625rem;
  display: grid;
  grid-gap: 2em;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.collectie section {
  display: grid;
}

.collectie article:first-of-type {
  gap: 0.625rem;
}

.collectie article:first-of-type img,
.collectie article:last-of-type img {
  order: -2;
}

.collectie article:first-of-type p:first-of-type {
  order: -1;
}

.collectie article h2 {
  order: 0;
}

.collectie section:last-of-type {
  background-color: var(--backgroundColorlightblue);
  gap: 0.625rem;
}

.collectieonline {
  background-color: var(--backgroundNav);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9375rem;
}

.collectieonline h3 {
  text-align: center;
  order: 0;
}

.collectieonline p {
  letter-spacing: 0.03em;
  font-size: 1em;
  padding-top: 3.5625em;
  padding-bottom: 0.825em;
  order: -1;
}

.collectieonline section {
  width: 66%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slides > li {
  flex-shrink: 0;
  max-width: 400px;
  position: relative;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.aanbevolen {
  display: flex;
  gap: 0.625rem;
}

.aanbevolen h2 {
  order: 1;
}

.aanbevolen h3 {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
  order: -2;
}

.aanbevolen p:first-of-type {
  order: 0;
}

.aanbevolen p:last-of-type {
  order: 2;
}

.aanbevolen img {
  order: -1;
}

.aanbevolen a {
  order: 3;
}

.info {
  max-width: 100%;
  height: 333px;
  background-color: var(--backgroundColorlightblue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.info h2 {
  text-align: center;
  margin-bottom: 16px;
}

.info a {
  text-align: left;
  font-size: 1em;
  margin-top: 0.75rem;
  font-family: "var(--fontNameBook)";
  color: var(--textColorOverig);
  text-decoration: underline;
}

.nieuwsenblogs {
  text-align: left;
  display: grid;
  grid-gap: 2em;
}

.nieuwsenblogs h3 {
  font-size: 2.8125em;
  text-align: center;
  margin-top: 0.6em;
}

.nieuwsenblogs article {
  margin-bottom: 4.6875rem;
}

.nieuwsenblogs article a {
  margin-top: 10px;
  font-family: "var(--fontNameBold)";
  color: var(--textColor);
  font-size: 2em;
  text-align: left;
  line-height: 2.5rem;
}

.nieuwsenblogs article img {
  margin-bottom: 0.5em;
}

.nieuwsenblogs article p:first-of-type {
  color: var(--textColorDatumNieuws);
  margin-bottom: 0.8em;
}

.nieuwsenblogs article p:last-of-type {
  margin-top: 0.625rem;
}

.nieuwsenblogs article:last-of-type a img:last-of-type {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 3.125rem;
  height: 3.125rem;
  border: 0;
}

.nieuwsenblogs article:last-of-type a:last-of-type {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 1em;
  font-family: "var(--fontNameBook)";
  color: var(--textColorAuteur);
  font-size: 1em;
}

.meer {
  align-items: center;
  padding: 0;
  position: relative;
  max-width: 100%;
  top: -2em;
}

.meer a {
  width: 170px;
  margin-bottom: 50px;
}

.meer section:nth-child(2) {
  justify-content: center;
}

.meer ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.meer li {
  width: 50px;
  height: 50px;
  padding: 11px 14px;
  border-radius: 50%;
  border: 1px solid var(--borderColorInfo);
  margin: 5px;
}

.meer li img {
  width: 20px;
  height: 27px;
}

/* ***************** */

/* Tablet */
@media screen and (min-width: 768px) {
  .collectie {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
    padding-top: 70px;
    gap: 0;
  }

  .collectie section {
    padding-left: 25px;
    padding-right: 25px;
  }

  .collectie section:first-of-type {
    padding-top: 0px;
  }

  .collectie section:first-of-type p:last-of-type {
    font-size: 1.23em;
  }

  .collectie section:last-of-type h2 {
    margin-bottom: 0.5em;
  }

  .aanbevolen {
    align-items: center;
  }

  .aanbevolen img {
    width: 50%;
  }

  .nieuwsenblogs {
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: 1fr 1fr;
  }

  .nieuwsenblogs h3 {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .nieuwsenblogs article {
    margin-bottom: 50px;
  }
}

/* Grote tablets en laptops */
@media screen and (min-width: 992px) {
  .collectie {
    grid-template-columns: 1fr;
  }

  .collectie section {
    gap: 0em !important;
    grid-template-columns: 1fr 1fr;
    padding: 75px;
  }

  .collectie section:last-of-type h2 {
    margin-bottom: 0.2em;
  }

  .collectie img:first-of-type {
    grid-column-start: 1;
  }

  .collectie section:last-of-type img {
    grid-column-start: 2;
  }

  .collectie article {
    padding: 75px;
  }

  .collectie section:first-of-type article {
    grid-column-start: 2;
  }

  .collectie section:last-of-type article {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .collectie a {
    grid-column-start: 2;
  }

  .collectie h2 {
    font-size: 4.375em;
    line-height: 4.0625rem;
  }

  .aanbevolen img {
    width: 30%;
  }

  input {
    width: 50%;
  }

  .nieuwsenblogs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .nieuwsenblogs article a:first-of-type {
    font-family: "var(--fontNameMedium)";
    font-size: 1.25em;
    line-height: 1.5625rem;
  }

  .nieuwsenblogs h3 {
    text-align: left;
    grid-column-start: 4;
    grid-row-start: 1;
  }

  .nieuwsenblogs p:last-of-type {
    display: none;
  }

  .meer section {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .aanbevolen img {
    width: 20%;
  }
}

/* ***************** */

/* Footer */

/* ***************** */

/* Mobiel */

footer {
  background-color: var(--backgroundNav);
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
  display: grid;
  grid-gap: 2em;
}

footer section:nth-child(1) img {
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 1.25rem;
}

footer p {
  font-family: "var(--fontNameMedium)";
  font-size: 0.9375em;
  letter-spacing: 0.05em;
  color: var(--textColor);
  margin-top: 28px;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
}

footer p:nth-child(2) {
  margin-top: 0.9375rem;
}

footer section:nth-child(1) li,
footer section:nth-child(1) a {
  color: var(--textColorOverig);
  font-size: 1.125em;
  font-family: "var(--fontNameBook)";
  line-height: 1.75rem;
}

footer section:nth-child(1) li:last-of-type {
  margin-bottom: 0.9375rem;
}

footer section:nth-child(1) a {
  color: var(--textColorOverig);
  border-bottom: 1px solid var(--borderColorHeaderBottom);
}

footer section:nth-of-type(2) {
  padding-top: 0.5em;
  padding-bottom: 2.125rem;
}

footer section:nth-of-type(2) ul {
  display: flex;
  flex-direction: row;
  gap: 1.3125rem;
}

footer section:nth-of-type(2) ul li img {
  width: 1.5em;
  height: 1.5em;
}

footer section:nth-of-type(3) {
  display: flex;
}

footer section:nth-of-type(3) ul {
  padding-right: 30px;
}

footer section:nth-of-type(3) ul li img {
  max-width: 100%;
}

/* ***************** */

/* Tablet */
@media screen and (min-width: 768px) {
  footer {
    padding-left: 50px;
    padding-right: 30px;
    grid-template-columns: 1fr 1fr;
  }

  footer img:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 25em;
  }

  footer section:nth-of-type(1) ul:first-of-type {
    grid-column-start: 1;
  }

  footer section:nth-of-type(1) ul:last-of-type {
    grid-column-start: 2;
  }

  footer section:nth-of-type(2) {
    grid-column-start: 1;
  }
}

/* Grote tablets en laptops */
@media screen and (min-width: 992px) {
}

/* Desktop */
@media screen and (min-width: 75em) {
}
